#P1{
    font-family: Geneva, Arial, Helvetica, sans-serif;
    color:rgb(126, 25, 228);
    font-size: 100%;
}

#P2{
    font-family: Geneva, Arial, Helvetica, sans-serif;
    color:rgb(2, 154, 255);
    font-size: 100%;
}